body {
    width: 90%;
    margin: 20px auto;
}

nav {
    position: fixed;
    top: 0px;
    background-color: black;
    color: rgb(252, 252, 252);
    width: 90%;
    
}

nav li {
    display: inline-block;
    color: rgb(252, 252, 252);
    
}
nav a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    padding-right: 30px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
nav a:hover{
    color:yellow;
}

.banner {
    background-image: linear-gradient(#1e1e4a, #a9aad9) ;
    color: floralwhite;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    text-align: center;
    padding: 40px;
   
    margin: 40px auto;
    
}
h1 {
    font-size: 48px;
    font-weight: bold;
}
#firework {
    
    position: relative;
    margin: 40px 50px;
}
p, h2 {
    font-size: 32px;
}
#email {
    background-image: linear-gradient(#1e1e4a, #a9aad9) ;
    color: floralwhite;
    font-family: 'Architects Daughter', cursive;
    display: block;
    text-align: center;
    padding: 20px;
    
}
#team {
    width: 10px;
}
.music {
    background: url('../images/music-notes-3221097_1920.jpg');
}
table{
    
    margin: 100px auto;
    width: 700px;
    display: grid;
    border-width: thick;
    border-style: ridge;
    border-color: gray;
    font-family: 'Prompt', sans-serif;
    padding: 40px;
    border-spacing: 20px;
    background: whitesmoke;
    box-shadow: 5px 5px 5px 5px #777777;
    border-radius: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



thead {
    background-image: linear-gradient(#92999c, #f0f3f5)
}

th {
    font-size: larger;
    text-shadow: 2px, 5px, 5px, #4b4a48;
}

th, td {
    
    padding: 20px, 20px;
    color: rgb(35, 35, 35);
  }

 td {
    border: 1px solid black;
    border-radius: 5px;
    border-style: ridge;
    background-color: rgb(247, 247, 247);
 } 
#top {
    font-size: x-large;
}     
table a {
    text-decoration: none;
    color: rgb(35, 35, 35);
}
td a:hover {
    color: #1adb7b;
}

.col1 {
    width: 200px;
}
.col2 {
    width: 300px;
}
.col3, .col4 {
    width: 100px;}

form {
    margin: 100px auto;
    width: 900px;
    height: 400px;
    border-width: thick;
    border-style: ridge;
    border-color: gray;
    font-family: 'Prompt', sans-serif;
    font-size: 24px;
    padding: 10px 20px;
    border-spacing: 5px;
    background: whitesmoke;
    box-shadow: 5px 5px 5px 5px #777777;
    border-radius: 15px;
    text-align: :left;
    }

    form p{
        font-size: 16px;
    }
    form h2{
    font-size: smaller;
    }
    #qmark {
        float: right;
        height: 200px;
        width: 250px;
        border-style: outset;
    }
    .birthday {
        background-image: url("../images/halloween-background-new.jpeg.jpg");
        background-size: cover;
    }
footer {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    z-index: 10;
}
